source_env_if_exists .envrc.private

export DEFMT_LOG=info
export ESP_LOGLEVEL="INFO"
export SMOLTCP_DNS_MAX_SERVER_COUNT=10

# It's dangerous to go alone. Use these:
# export PAPERTRAIN_WIFI_SSID="MyWifi"
# export PAPERTRAIN_WIFI_PASSWORD="CorrectHorseBatteryStaple"
# export PAPERTRAIN_WIFI_AUTH_METHOD="wpa2personal"

# export PAPERTRAIN_CONNECTION="Antwerpen-Centraal,Brugge,Oostende"

