source_env_if_exists .envrc.private

RUST_PATH=$(realpath "$(dirname $(which rustc))/..")

export LIBCLANG_PATH="$RUST_PATH/toolchains/esp/xtensa-esp32-elf-clang/esp-16.0.0-20230516/esp-clang/lib"
PATH_add "$RUST_PATH/toolchains/esp/xtensa-esp-elf/esp-13.2.0_20230928/xtensa-esp-elf/bin"
PATH_add "$RUST_PATH/toolchains/esp/riscv32-esp-elf/esp-13.2.0_20230928/riscv32-esp-elf/bin"

unset RUST_PATH

export DEFMT_LOG=info
export ESP_LOGLEVEL="INFO"
export SMOLTCP_DNS_MAX_SERVER_COUNT=10